table{
    border: 1px solid pink;
    padding: 0px;
}

td{
    width: 20px;
    height: 20px;
    background-color: pink;
    border: 1px solid pink;
    text-align: center;
}

.letter{
    background-color: white;
}

.text{
    color:black;
    bakground-color:white;
    width: 420px;
    height: 20px;
}